@import '../../style/_variable.scss';

.home {
  padding: 200px 0 300px 0;
  text-align: center;
  background: linear-gradient(to bottom,#fff 0,#dce5e9 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .focus-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16,23,29,.36);
    transition: background-color .2s ease-in-out;
    z-index: 2;
  }
  .bg {
    z-index: 0;
    top: 0;
    background: transparent url(./img/banner.svg) top right no-repeat;
    height: 100%;
    position: absolute;
    width: 32.5%;
    max-width: 800px;
    transform: scaleY(-1);
    background-size: cover;
  }
  .bg-left {
    left: 0;
  }
  .bg-right {
    right: 0;
    transform: scaleX(-1);
  }
  .bg-content {
    z-index: 123;
    margin-top: -40px;
    @media only screen and (min-width: $big-screen-min) {
      width: 600px;
    }
    @media only screen and (max-width: $small-screen-max) {
      width: 90%;
    }
    .title {
      padding-bottom: 40px;
      h1 {
        padding-bottom: 16px;
        color: $blue;
        @media only screen and (min-width: $big-screen-min) {
          font-weight: 300;
          font-size: 42px;
        }
        @media only screen and (max-width: $small-screen-max) {
          font-weight: 400;
          font-size: $font-so-big;
        }
      }
      h2 {
        color: $medium;
        font-weight: 400;
        @media only screen and (min-width: $big-screen-min) {
          font-size: $font-big;
        }
        @media only screen and (max-width: $small-screen-max) {
          font-size: $font-small;
        }
      }
    }
    .search {
      display: flex;
      align-items: center;
      margin: 0 auto;
      @media only screen and (min-width: $big-screen-min) {
        width: 90%;
      }
      @media only screen and (max-width: $small-screen-max) {
        width: 100%;
      }
    }
    .bottom {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      color: $medium;
      box-sizing: border-box;
      @media only screen and (min-width: $big-screen-min) {
        height: 50px;
        line-height: 50px;
        font-size: $font-so-small;
      }
      @media only screen and (max-width: $small-screen-max) {
        padding: 10px;
        font-size: $font-so-small;
      }
    }
  }
}
