.editorName{
  font-size: 24px;
  text-align: center;
}
.editorTools {
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 6px 12px;
  border-top: 1px solid #e7eaf1;
  border-bottom: 1px solid #e7eaf1;
  background: #fff;
  margin: 10px 0;
  .editorTools-item {
    width: 20px;
    height: 20px;
    padding: 5px 8px;
    .item-icon {
      width: 100%;
      height: 100%;
      background-size: cover;
      cursor: pointer;
    }
  }
}

.content-box {
  max-width: 100%;

  .content-title{
    font-size: 20px;
    text-align: left;
  }
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      display: flex;
      align-items: center;
      padding: 10px;
      span{
        padding-right: 12px;

      }
    }
  }
}
.root{
  background: #68838B;
  padding: 40px;
  font-family: HelveticaNeue-Light;
  margin: auto;
  font-size: 15px;
}
.editor{
  border-radius: 4px;
  min-height: 300px;
  padding: 10px;
  background: #2b303b;
  color: #85939f;
},
.suggestions{
  border-radius: 3px;
  margin: 0;
  padding: 0;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  list-style-type: none
},
.person{
  margin: 0;
  padding: 16px 24px;
  color: #343d46;
},
.selectedPerson{
  margin: 0;
  padding: 16px 24px;
  background: #a7b5bf;
  color: white;
  border-radius: 3px;
},
.link{
  color: #a7b5bf;
}