$content-width: 96%;
$min-width: 800px;
$default-width: 1024px;
$max-width: 1200px;

$big-screen-min: 1024px;
$small-screen-max: 1023px;

$header-height: 8vh;
$background: #f9f9f9;

$super-light: rgba(0, 0, 0, 0.2);
$light: rgba(0, 0, 0, 0.4);
$medium: rgba(0, 0, 0, 0.6);
$dark: rgba(0, 0, 0, 0.8);
$super-dark: rgba(0, 0, 0, 0.9);

$line: rgba(0, 0, 0, 0.05);
$dark-line: rgba(0, 0, 0, 0.1);

$orange: #FF6E37;
$red: #FF5A5F;
$blue: #1FB6FF;
$green: #4CAF50;
$white: #ffffff;
$black: #000000;


$font-so-small: 0.75rem; //12px 
$font-small: 0.875rem; //14px 
$font-normal: 1rem; //16px 
$font-big: 1.125rem; //18px  
$font-so-big: 1.25rem; //20px 
$font-huge: 1.5rem; //24px 
$font-so-huge: 1.75rem; //28px 
$font-massive: 2rem; //32px 
$font-so-massive: 2.25rem; //36px 
